<div class="container border">
  <div>
    <p>Selected: </p>
  </div>
  <div class="row border">
    <div class="col-md-6 text-center" >
      <span class="border border-primary rounded" style="padding: 0 30px  0 30px">
        A2
      </span>
    </div>
    <div class="col-md-6 text-center">
        <span class="border border-primary rounded" style="padding: 0 30px  0 30px">
        $0.00
      </span>
    </div>
  </div>
  <div>
    <p>Insert Coin: </p>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center"  >
      <img src="../../../assets/euro_010.png" alt="..." class="rounded-circle">
    </div>
    <div class="col-sm-4 text-center">
      <img src="../../../assets/euro_050.png" alt="..." class="rounded-circle">
    </div>
    <div class="col-sm-4 text-center">
      <img src="../../../assets/euro_100.png" alt="..." class="rounded-circle">
    </div>
  </div>
</div>
