<div>
  <form [formGroup]="apiRequest" (ngSubmit)="onSubmit()">
    <div class="row">
      <div formGroupName="config" class="col-sm-3">

        <div>
          <label for="rows" class="col-sm-6">Rows</label>
          <input id="rows" type="text" formControlName="rows" class="col-sm-1">
          <div *ngIf="rows?.invalid && (rows?.dirty || rows?.touched)"
               class="alert alert-danger">

            <div *ngIf="rows?.errors?.['required']">
              Rows are required.
            </div>
          </div>
        </div>
        <div>
          <label for="columns" class="col-sm-6">Columns</label>
          <input id="columns" type="text" formControlName="columns" class="col-sm-1">
          <div *ngIf="columns?.invalid && (columns?.dirty || columns?.touched)"
               class="alert alert-danger">

            <div *ngIf="columns?.errors?.['required']">
              Rows are required.
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-success" (click)='addItem()'>Add Snack</button>
          </div>
        </div>

        <div formArrayName="items" *ngFor="let t of items.controls; let i = index">
          <div class="row" [formGroupName]="i">
            <div class="col-md-2">
              <p class="lead">Snack {{i + 1}}</p>
            </div>

            <div class="col-md-2">
              <input formControlName='name' id="{{'name'+i}}" type="text" class="form-control mb-4"
                     placeholder="Enter Name"/>
<!--              <div *ngIf="name.invalid && (name.dirty || name.touched)"-->
<!--                   class="alert alert-danger">-->

<!--                <div *ngIf="name.errors?.['required']">-->
<!--                  Name is required.-->
<!--                </div>-->
<!--              </div>-->

            </div>
            <div class="col-md-2">
              <input formControlName='amount' id="{{'amount' + i}}" type="number" class="form-control mb-4"
                     placeholder="Enter Amount " />
            </div>
            <div class="col-md-2">
              <input formControlName='price' id="{{'price' + i}}" type="text" class="form-control mb-4"
                     placeholder="Enter Price " [value]="items.value[i].total | currency" />
            </div>

            <div class="col-md-2">
                <button class="btn btn-danger" (click)='removeItem(i)'>Remove</button>
            </div>

<!--              <p>{{ apiRequest.controls['name'].valid | json}}</p>-->


            </div>


        </div>
      </div>

    </div>
    <div>

      <button type="submit" [disabled]="!apiRequest.valid">Submit</button>
    </div>
  </form>
</div>


<p>{{ apiRequest.value | json}}</p>
